@charset "utf-8";
*{margin:0; padding:0;}
li{list-style:none;}
img{vertical-align:middle;}
a{color:#333; text-decoration:none;}
body{font-family:나눔고딕; width:1920px; margin:0 auto;  font-size:1em; color:#333;}

#warrper{text-align:center;}

/*header*/
header{width:100%; height:100px;  box-sizing:border-box; padding:30px; position:relative;}
	header h1{text-align:left; float:left; width:100px; height:60px; margin:0 30px 0 420px;}
	header #menu{text-align:left; font-size:2.250em;}
		 #menu .submenu{float:left; margin-right:100px;}
			#menu .submenu:nth-of-type(1){margin-left:190px;}
		 #menu .submenu>a{font-weight:bold;}
		  #menu .submenu>a:hover{text-decoration:underline; padding-bottom:10px;}
		
		 
		 .submenu .liu{margin-top:50px; margin-right:80px; position:absolute; z-index:100; display:none;}
			 .submenu .liu>li{margin-bottom:30px; font-size:0.556em;}
		 .submenu .liu li>a{color:#fff; font-weight:bold;}
		 
/*figure*/
figure{position:relative; overflow:hidden; width:1920px; height:1000px;}
	figure img{position:absolute; left:0px; top:0px;}
	
	
/*section*/

/*Sec1*/
#Sec1{height:990px; box-sizing:border-box;  padding-top:130px;}
	#Sec1 h1{font-family:"Times New Roman"; font-size:3em; padding-bottom:10px;}
		#Sec1 .p{font-size:1.5em;}
	#Sec1 .border{border-bottom:1px solid #333; width:100%; margin-top:20px;}
	
	#Sec1 #cent{width:1200px; height:550px; margin:0 auto; position:relative; overflow:hidden;}
		#Sec1 #cent li{left:0px; margin-top:70px; position:absolute; width:300px;}
			.left>p{margin-top:20px; font-weight:bold;}
			
		#Sec1 .bottomR{position:absolute; right:0px; top:250px; width:40px;width:40px; cursor:pointer;}
		#Sec1 .bottomL{position:absolute; left:0px; top:260px;  width:40px;width:40px; cursor:pointer;}
		
/*Sec2*/
#Sec2{height:1500px; background:#f3f3f3; position:relative;}
	#Sec2>img{margin-top:190px; float:left;}
	#Sec2 .txt2{width:800px; height:650px; background:#fff; position:absolute; left:900px; top:350px;}
		 .txt2>h2{font-size:1.5em; font-weight:normal; text-align:left; margin:125px 0 10px 80px; }
			 .txt2>h2>span{font-size:2em; font-weight:bold;} 
		 .txt2>h1{font-size:6.250em; font-family:"Times New Roman"; font-style:italic; text-align:left; margin-left:80px; color:#e6c5c2; font-weight:normal; letter-spacing:10px;}
		 .txt2 .txt21{display:inline-block; text-align:justify; margin-top:160px; margin-left:-270px; line-height:20px;}
		 
/*"Sec3*/
#Sec3{height:1700px;}
	#Sec3>h1{font-size:3em;  font-weight:normal;}
	#Sec3>h1:nth-of-type(1){margin:220px 0 20px 0;}
		#Sec3>h1:nth-of-type(1)>span{font-size:1.250em; font-weight:bold;}
	#Sec3>h1:nth-of-type(2){margin-bottom:133px;}
		#Sec3>h1:nth-of-type(2)>span{font-family:"Times New Roman"; font-size:1.667em; font-weight:bold;}
#Sec3 .cent2{text-align:left;}

	/*box31*/
	.cent2 .box31{width:700px; height:1000px; box-sizing:border-box; float:left; margin-left:360px; position:relative; overflow:hidden;}
		.cent2 .box31>p{position:absolute; left:-600px; top:0px;  color:#fff;}
			.cent2 .box31>p:nth-of-type(1){ top:718px; font-size:6.250em; font-style:italic; letter-spacing:15px; font-weight:bold;}
			.cent2 .box31>p:nth-of-type(1)>span{font-size:0.720em; font-style:normal; font-weight:normal;}
	
			.cent2 .box31>p:nth-of-type(2){top:836px; font-size:3em;}
	/*box32*/	
	.cent2 .box32{width:500px; height:500px;  box-sizing:border-box; background:#e6c5c2; margin-left:1060px; overflow:hidden; position:relative;}
		.cent2 .box21{position:absolute; left:-80px; top:250px; z-index:11;}
		.cent2 .box221{position:absolute; left:200px; top:250px; z-index:10;}
			.cent2  .box32>p{font-size:4.5em; color:#fff; font-style:italic; margin:10px 0 0 250px;}
			.cent2  .box32>span{font-size:1.875em; color:#fff; margin:25px 0 0 300px;}
	
	/*box33*/	
	.cent2 .box33{width:500px; height:490px;  box-sizing:border-box; background:#e5e5e5; margin-left:1060px; overflow:hidden; position:relative;}
		.cent2 .box331{position:absolute; left:10px; top:-200px; z-index:11;}
		.cent2 .box3331{position:absolute; left:-10px; top:30px; z-index:10;}
			.cent2 .box33>p{font-size:4.5em; color:#fff; font-style:italic; margin:350px 0 0 250px;}
			.cent2  .box33>span{font-size:1.875em; color:#fff; margin:30px 0 0 320px;}
			
	#Sec3>.Se3p{margin:85px 0 0 950px; font-size:2.250em;}
		.Se3a>i{color:#e6c5c2; margin-left:1200px; font-size:3em; margin-top:-40px;}
				.Se3a>p:hover>a{text-decoration:underline;}
				
				
/*Sec4*/
#Sec4{height:1430px;}
	#Sec4>h1{margin:100px 0; font-size:4.5em; font-family:"Times New Roman";}
	
	/*box41*/
	#Sec4 .box41{position:relative; z-index:10; transition:all 1s ease 0s;}
		#Sec4 .box41:hover>.img>img{transform:scale(1.2);}
			#Sec4 .box41>img{left:0px; position:absolute;}
		.box41 .img{overflow:hidden; width:1287px; height:1002px;}
	#Sec4 .img{position:absolute; left:0px; top:0px; }
		.img>.phone{position:absolute; left:200px; top:0px;}
			.img>P{font-family:"Times New Roman"; color:#fff; position:absolute;}
			.img>P:nth-of-type(1){font-size:500px; top:-50px; left:100px;}
			.img>P:nth-of-type(2){font-size:200px; top:500px; left:150px;}
			
	/*box42*/
	#Sec4 .box42{position:relative; right:-392px; z-index:11; height:1002px;}
		#Sec4 .box42:hover>.img2>img{transform:scale(1.2);}
		#Sec4 .box42 .img2{width:1131px; height:1002px; overflow:hidden; position:absolute; left:390px; top:0px; transition:all 1s ease 0s;}
			#Sec4 .box42 .img2>img{position:absolute; right:-500px; top:200px;}
			
		.img2>P{font-family:"Times New Roman"; color:#fff; position:absolute;}
		.img2>p:nth-of-type(1){font-size:500px; top:350px; left:200px;}
		.img2>P:nth-of-type(2){font-size:200px; top:800px; left:150px;}
	
	
/*footer*/
footer{width:100%; height:500px; background:#e5e5e5;}